<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320382771706-srfhcse8uo9ubmor55cj3di7ai7tfjd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320382771706-srfhcse8uo9ubmor55cj3di7ai7tfjd1</string>
	<key>API_KEY</key>
	<string>AIzaSyCCNUT8hlaIyt44JjQCglB5s022mwep6OE</string>
	<key>GCM_SENDER_ID</key>
	<string>320382771706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eBulleten</string>
	<key>PROJECT_ID</key>
	<string>senior-seminar-project-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-seminar-project-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320382771706:ios:00ca44845f18204ec80443</string>
	<key>DATABASE_URL</key>
	<string>https://senior-seminar-project-dev.firebaseio.com</string>
</dict>
</plist>