.body {
  background-color: lightgrey;
  margin: 0%;
}

.header-div {
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  height: 9%;
  background-color: #b80505;
  flex-direction: row;
}

nav {
  background-color: #b80505;
}

.header-button {
  float: right;
  height: auto;
  width: 230px;
  font-size: 18.5px;
  background-color: #b80505;
  border-style: solid;
  text-align: center;
  border-width: 0.8px;
  border-left-width: 1.6px;
  border-right-width: 0px;
  padding-top: 20px;
}

.in-out-header-button {
  float: right;
  height: auto;
  width: 230px;
  font-size: 18.5px;
  background-color: #b80505;
  border-style: solid;
  text-align: center;
  border-width: 0.8px;
  border-left-width: 1.6px;
  border-right-width: 1.6px;
}

.logo-text {
  font-size: 3vw;
  text-align: left;
  flex-basis: 100%;
  height: 60px;
  margin: 0;
  padding-left: 5px;
}

.content-div {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  min-height: 850px;
  width: 75vw;
  align-content: center;
  float: center;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

.text-content {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
}

.footer {
  width: 100%;
  display: flex;
  height: 4.5vw;
  background-color: #990000;
  flex-direction: row;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  padding: 50% auto;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 479px;
  height: 481px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-title {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  background-color: #b80505;
  align-content: center;
  float: center;
  height: 15%;
  width: 100%;
}

.poll-form-title {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  background-color: #b80505;
  align-content: center;
  float: center;
  height: 5%;
  width: 100%;
}

.login-form {
  margin: 7%;
  margin-top: 80px;
}

.signup-form {
  margin: 7%;
  margin-top: 80px;
}

.form-buttons {
  display: flex;
  flex-direction: row;
}

.form-submit {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 23%;
  border: none;
  color: white;
  background-color: #b80505;
}

.signup-button {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 23%;
  border: none;
  color: white;
  background-color: #333333;
}

.text-field {
  display: flex;
  align-self: center;
  padding: 5px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 17.5%;
  width: 70%;
}

.text-field:focus {
  border-width: 1px;
  border-color: black;
}

.label-text {
  text-align: center;
  flex-basis: 100%;
  margin: 2%;
}

.create-event-form {
  margin: 4%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.non-button-fields {
  margin: 4%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  flex-direction: row;
}

.event-form-buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 0%;
  width: 100%;
  height: 15%;
}

.create-event-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 779px;
  height: 531px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.event-form-submit {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 30%;
  border: none;
  color: white;
  background-color: #b80505;
}

.cancel-button {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 30%;
  border: none;
  color: white;
  background-color: #333333;
}

.event-text-field {
  margin-bottom: 10px;
}

.date-field-div {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.event-date-field {
  color: grey;
}

.price-field-div {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 0px;
}

.text-field-div {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.desc-field-div {
  width: 70%;
  height: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.event-desc-field {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  resize: none;
}

.non-desc-fields {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 40%;
}

.field-label {
  margin-bottom: 3px;
}

.create-poll-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 779px;
  height: 1500px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.create-poll-forms {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.prelim-query {
  display: flex;
  flex-direction: row;
}

.push-to-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 15%;
}

.push-to-select {
  font-size: 13px;
  margin-left: 30%;
}

.push-to-form {
  display: flex;
  flex-direction: row;
}

.radio-label {
  margin-left: 20%;
  margin-right: 15%;
  width: 45%;
}

.poll-question-one {
  height: 400px;
}

.poll-desc-div {
  width: 95%;
  height: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.poll-desc-field {
  width: 100%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  resize: none;
}
